body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

/*div {*/
/*    margin: 0 auto;*/
/*}*/

#table div.row, #table div.container {
    border-bottom: 0.5px solid #eee;
}

div.gini-graphs, div.wgi-graphs {
    
    margin: 0 auto;
    align-items: left;
    width: '100%';
}

div.rank, div.country,
div.wgi-bar-holder, div.wgi-value,
div.gini-bar-holder, div.gini-value,
div.gini-year, div.region {
    height: 40px;
    padding: 0px;
    margin: 0 auto;            
    display: flex;
    align-items: center;
}

div.gini-year {
    height: 40px;
    
    margin: 0 auto;            
    display: flex;
    align-items: center;
}        

a {
    cursor: pointer;
}


div.block {
    background-color: blue;
    height: 100px;
    width: 100%;
    float: left;
    
}

/*WGI*/

.wgi-value, .wgi-value-header, .gini-value, .measure {
    left: -15px;
    font-family: 'Roboto Mono';
    text-align: right !important;
}

/*GINI*/

div.gini-bar-holder {
    width: '100%';
    border-left: 0.5px dashed #ccc;
    display: flex;
    align-items: center;  
}

div.gini-bar-bg {
    width: '100%';
    height: 10px;
    background-color: #eee;
}

div.gini-bar {
    height: 10px;
    width: 0px;
    background-color: #56c02b;
    float: left;
}

/*WGI BAR*/

div.wgi-bar-holder {
    width: 100%;
    display: flex;
    align-items: center;  
}

/*WGI NEG BAR*/
div.wgi-neg-bar-holder {
    width: 50%;
    display: flex;
    align-items: center;            
}
div.wgi-neg-bar-bg {
    float: right;
    width: 100%;
    height: 10px;
    background-color: #eee;         
}

div.wgi-neg-bar {
    float: right;
    width: 0px;
    height: 10px;
    background-color: #e5243b;
    opacity: 0px;  
}

/*WGI POS BAR*/
div.wgi-pos-bar-holder {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 0.5px dashed #ccc;            
}
div.wgi-pos-bar-bg {
    float: left;
    width: 100%;
    height: 10px;
    background-color: #eee;         
}

div.wgi-pos-bar {
    float: left;
    width: 0px;
    height: 10px;
    background-color: #0a97d9;
    opacity: 0px;  
}

div.rank-header, div.country-header,
/*div.wgi-graphs-header, div.wgi-value-header,*/
/*div.gini-graphs-header, div.gini-value-header,*/
div.gini-year-header, div.region-header {
    padding: 0px;
    margin: 0 auto; 
}

div.region {
    
}

div.title {
    padding: 0px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;            
    border: 0px solid gray;     
    line-height: 30px;
}

div.description {
    
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
}

div.region {
    border: none;
    height: 30px;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 6px;     
    opacity: 0.5;
    top: 5px;
}
#header.container {

    margin: 0 auto;
}

#table {
    
    margin: 0 auto;
}

.container {
   width: 1170px !important;
} 
